<h2><%= tag.name %></h2>

<h3>Posts that use this tag</h3>

<% tag.posts.forEach(function(p){ %>
  <div>
    <p>
      <a href="/posts/<% p.id %>">
        <%= p.title %>
      </a>
    </p>

  </div>
<% }); %>
